.App{
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "search-bar search-bar search-bar"
    "city city city"
    "weather weather weather"
  ; 
}

.search-bar{
  grid-area: search-bar;
  text-align: center;
}

.weather-bar {
  text-align: center;
  height: auto;
  grid-area: weather;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: baseline;
  justify-content: space-between;
}

.weather-snippit{
  display: flex;
  flex-direction: column;
  padding-right: 100px; 
  height: 100px;
}

.city{
  grid-area: city;
  text-align: center;
}
  